snippet algo_divisorcount
	ll countdivisors(ll n){
		ll c,total=1,N=n;	
		for(int i=0;primes[i]*primes[i]<=n;++i){
			if(n%primes[i]==0){
				c=1;
				while(n%primes[i]==0){
					n/=primes[i];
					c++;
				}
				total*=c;
			}
		}
		if(n>1) total<<=1;
		return total;
	}


