snippet algo_floydWarshall
	#define nfor for(int i=0;i<mx;i++)for(int j=0;j<mx;j++)
	#define reset nfor d[i][j]=INT_MAX;
	#define reset_path nfor path[i][j]=i;
	#define mx 101

	ll u,v,w,tmp,d[mx][mx];

	void floydWarshall(int N){
		for(int k=1;k<=N;k++){
			for(int i=1;i<=N;i++){
				for(int j=1;j<=N;j++){
					tmp = d[i][k]+d[k][j];
					if(tmp<d[i][j]){
						d[i][j] = tmp;
					}
				} 
			}
		}
	}


