snippet algo_ncr_dp
	const int mx=150;
	ll ncr[mx][mx];
	void pascal(int n){
		for(int i=1;i<=n;i++){
			ncr[i][0]=1,ncr[i][1]=i;
			for(int j=2;j<=n;j++)
				ncr[i][j]=ncr[i-1][j]+ncr[i-1][j-1];
		}	
	}
